
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    margin: auto;
    
    
    

}

.table-header {
    background-color: black;
    color: white;
    font-weight: bold;

}

.table {
    background-color:white ;
    box-shadow: 5px 5px 15px 5px #000000;

}

.title{
    margin-top: 16px;
    color: #fff;
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
